.App {
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px solid rgb(25, 20, 20);
}

.top {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.Add {

  background-color: #0d0a0a;
  cursor: pointer;
  color: #ffffff;
  padding: .5rem 2rem;
}


.todo {
  padding: .5rem 1rem;
  justify-content: space-between;
  background-color: #181818;
  margin: 1rem;
  display: flex;

  color: #ffffff;
}